<%- include('../partials/header') %>

<form action="/flights/<%= flightId %>/tickets" method="POST">
<label for="seat">SEAT</label>
<input type="text" name="seat" pattern="[A-F][1-9]\d?">
<label for="price">PRICE</label>
<input type="number" name="price">
<input type="submit" value="submit">

</form>





<%- include('../partials/footer') %>